.contact-list {
   max-width: 62.5rem;
   margin-inline: auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
   padding: 1rem;
}

.contact-list__body {
  
}

.contact-list__title:not(:last-child) {
   margin-bottom: 1rem;
}

.contact-list__list:not(:last-child) {
   margin-bottom: 1rem;
}